
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	Zu übersetzende Seite auswählen
	<f:form  action="show" controller="Pages">

		<f:form.select name="page" options="{pagetree}" optionValueField="id" optionLabelField="id" value="{selectedPage}" sortByOptionLabel="true" />
		<f:form.submit value="Absenden" />
	</f:form>
	<f:for each="{pagetree}" as="page">
		{page.id}  Titel:{page.text}  <br />

	</f:for>
</f:section>